In [1]:
#import all the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import os
import re
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#collecting the data
data=pd.read_csv('Salary_Data.csv')

In [3]:
#top five items of the data
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
#to check how many data are present in this dataset
data.shape

(30, 2)

In [5]:
#taking inputs and outputs respectively
X=data.iloc[:,0].values
y=data.iloc[:,1].values

In [6]:
#the mean value of X and y
X_mean=np.mean(X)
y_mean=np.mean(y)

In [7]:
#check the function
y_mean

76003.0

In [8]:
#the numerator portion of the gradient
m_numerator=(X-X_mean)*(y-y_mean)

In [9]:
#the denominator portion of the gradient
m_denominator=(X-X_mean)**2

In [10]:
#to get the actual gradient of all items of X and y
m=(m_numerator.sum()/m_denominator.sum())

In [11]:
#calculation of intercept
b=y_mean-(m*X_mean)

In [12]:
#the value of gradient
m

9449.962321455077

In [13]:
#the value of intercept
b

25792.20019866869

In [14]:
#creating a class called LinearRegression which have two methods called fit() and predict()
class LinearRegression:
    
    def __init__(self):
        self.X_mean=0
        self.y_mean=0
        self.m=0
        self.b=0
        
    def fit(self,X,y):
        self.X=X
        self.y=y
        self.X_mean=np.mean(self.X)
        self.y_mean=np.mean(self.y)
        m_numerator=(self.X-self.X_mean)*(self.y-self.y_mean)
        m_denominator=(self.X-self.X_mean)**2
        self.m=(m_numerator.sum()/m_denominator.sum())
        self.b=self.y_mean-(self.m*self.X_mean)
        
        
    def predict(self,x):
        return self.m*x+self.b

In [15]:
regressor=LinearRegression()

In [16]:
#fitting the input and output values 
regressor.fit(X,y)

In [18]:
#predict the ouutput from the given input
y_pred=regressor.predict(6.1)

In [19]:
y_pred

83436.97035954465